html, body, 
.container {
	position: relative;
	width: 100%;
	height: 100%;
    margin: 0;
}

body {
	overflow-y: scroll;
	background: #000;
}

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

a {
    text-decoration: none;
}

/***************/
/* Intro sides */
/***************/
.side {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.side-left {
	left: 0;
    background: url('../images/dogs.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
	color: #fff;
	/*outline: 1px solid #47a3da; /* avoid gap */
}

.side-left a, .side-left a:visited{
    color:#fff;
}

.side-right {
	right: 0;
    background: url('../images/dogs.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
	color: #47a3da;
	/*outline: 1px solid #fff; /* avoid gap */
}

.side-right a, .side-right a:visited{
    color: #47a3da;
}

.side-left, .side-right, .side-left h1, .side-right h1 {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.side-left:hover {
    background: url('../images/impossibly-cute-puppy-8.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.side-right:hover {
    background: url('../images/impossibly-cute-puppy-8.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.side-left:hover h1 , .side-right:hover h1{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.side .div-link{
    display:block;
    width: 100%;
    height: 100%;
}

/****************/
/* Intro content*/
/****************/

.intro-content {
	position: absolute;
	top: 50%;
    left: 50%;
	padding: 0 1em;
	width: 50%;
	cursor: pointer;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.intro-content h1 > span {
	display: block;
	white-space: nowrap;
}

.intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 2.5em;
}

.intro-content h1 > span:nth-child(2) {
	position: relative;
	margin-top: 0.5em;
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}

.intro-content h1 > span:nth-child(2):before {
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #fff;
	content: '';
}

.side-right .intro-content h1 > span:nth-child(2):before {
    background: #47a3da;
}

/*********/
/* Fonts */
/*********/
h1 {
	font-family: 'Annie Use Your Telescope';
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 26.4px;
}

/*****************/
/* Media Queries */
/*****************/
@media screen and (max-width: 83em) {
	.intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
	body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {
	.intro-content { width: 100%; }
}

@media screen and (max-width: 42.5em) {
	body { font-size: 80%; }
	.intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
	.intro-content {
		-webkit-transform: translateY(-25%) translateX(-50%);
		transform: translateY(-25%) translateX(-50%);
	}
}

@media screen and (max-width: 320px) {
	body { font-size: 70%; }
}